<section class="sub-header">
  <div class="sub-header__container">
    <div class="sub-header__box__container">
      {% if section.settings['left-box-image'] != blank %}
        <img
          src="{{ section.settings.left-box-image | image_url: width: 26, height: 10 }}"
          alt="Left Box Image"
          class="box_image"
          width="26"
          height="26"
        >
      {% endif %}
      <span class="sub-header__box-text">
        {{ section.settings['box-text'] }}
      </span>
      {% if section.settings['right-box-image'] != blank %}
        <img
          src="{{ section.settings.right-box-image | image_url:  width: 26, height: 10 }}"
          alt="Right Box Image"
          class="box_image"
          width="26"
          height="26"
        >
      {% endif %}
    </div>
    <div class="sub-header__info_container">
      {% if section.settings['info-image'] != blank %}
        <img
          src="{{ section.settings.info-image | image_url: width: 600 }}"
          alt="Info Image"
          width="500"
          height="500"
        >
      {% endif %}
      <div class="sub-header__info-text">
        {% for i in (1..5) %}
          {% capture key %}info_text_{{ i }}{% endcapture %}
          {% assign text_item = section.settings[key] %}
          {% if text_item != blank %}
            <p>{{ text_item | newline_to_br }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% stylesheet %}
  .sub-header__box__container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
  }

  .box_image {
    padding-top: 3.5px;
  }

  .sub-header__box-text {
    color: #fff;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 300;
  }

  .sub-header__info_container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    gap: 2rem;
  }

  .sub-header__info-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: #333;
    font-weight: 500;
    line-height: 1.75;
    text-align: center;
    padding: 1rem;
  }

  @media (min-width: 1200px) {
    .sub-header__info_container {
      width: 50%;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Sub Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "left-box-image",
      "label": "Left Box Image"
    },
    {
      "type": "text",
      "id": "box-text",
      "label": "Box Text",
      "default": "Look Sharp. Move Bold. Discover the Polarized Collection"
    },
    {
      "type": "image_picker",
      "id": "right-box-image",
      "label": "Right Box Image"
    },
    {
      "type": "image_picker",
      "id": "info-image",
      "label": "Info Image"
    },
    {
      "type": "textarea",
      "id": "info_text_1",
      "label": "Info Text 1",
      "default": "Our polarized sunglasses have the added benefit of eliminating harsh glare reflected off surfaces."
    },
    {
      "type": "textarea",
      "id": "info_text_2",
      "label": "Info Text 2",
      "default": "Eyelevel’s Un genuine polarized lenses contain a special filter, which blocks intense rays of reflected light that reduce visibility. Images appear sharper and clearer, while optimum safety is ensured. In addition, they allow you to see below the surface of the water, essential for fishing or sailing..."
    },
    {
      "type": "textarea",
      "id": "info_text_3",
      "label": "Info Text 3",
      "default": "Polarized sunglasses are excellent for golf because they stop light glare hitting you directly in the eye. This helps when looking into the sun, as you are less likely to lose track of your golf ball in flight after making your swing."
    }
  ],
  "presets": [
    {
      "name": "Sub Header"
    }
  ]
}
{% endschema %}
